<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>We create our own ngIf directive, appUnless</h1>
      <h2>but is the opposite, show if false</h2>
      <button class="btn btn-primary"(click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <div *ngIf="onlyOdd">
        <ul class="list-group">
          <li
            class="list-group-item"
            [ngClass]="{odd:odd%2!==0}"
            [ngStyle]="{backgroundColor:odd%2!==0?'yellow':'transparent'}"
            *ngFor="let odd of oddNumbers"
          >{{odd}}
          </li>
        </ul>
      </div>
<!--       <div *ngIf="!onlyOdd">
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let even of evenNumbers"
            [ngStyle]="{backgroundColor:even%2!==0?'yellow':'transparent'}"
            [ngClass]="{odd:even%2!==0}"
          >{{even}}
          </li>
        </ul>
      </div> -->
<!--       <ng-template [ngIf]="!onlyOdd">
        <p>Only odd</p>
      </ng-template> -->
<!--       <ng-template [ngIf]="!onlyOdd">
        <div >
          <ul class="list-group">
            <li
              class="list-group-item"
              *ngFor="let even of evenNumbers"
              [ngStyle]="{backgroundColor:even%2!==0?'yellow':'transparent'}"
              [ngClass]="{odd:even%2!==0}"
            >{{even}}
            </li>
          </ul>
        </div>
      </ng-template>
 -->      
      <div *appUnless="onlyOdd">
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let even of evenNumbers"
            [ngStyle]="{backgroundColor:even%2!==0?'yellow':'transparent'}"
            [ngClass]="{odd:even%2!==0}"
          >{{even}}
          </li>
        </ul>
      </div>
      <p appBasicHighlight>Style me with basic directive!</p>
      <!-- 
        one-way binding for both properties 
      -->
      <!-- <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">Style me with a better directive!</p> -->
      <!-- 
        set to property to directive instead of using one-way binding to an Input() 
      -->
      <!-- <p [appBetterHighlight]="'red'" [defaultColor]="'yellow'" >Style me with a better directive!</p> -->
      <!-- 
        interesting can do it this way too. although less code a bit more decieveing I'm thinking. Not sure what is better to use just yet.
        Yea I think this is a bad idea because is not clear this is not an attribute for the directive or this is property binding.
      -->
      <p [appBetterHighlight]="'red'" defaultColor="yellow" >Style me with a better directive!</p>
      <!-- <p appBetterHighlight="red" defaultColor="yellow" >Style me with a better directive!</p> -->
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">Value is 5</p>
        <p *ngSwitchCase="10">Value is 10</p>
        <p *ngSwitchCase="100">Value is 100</p>
        <p *ngSwitchDefault>Value is default</p>
      </div>
    </div>
  </div>
</div>
